@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-items {
  height: 300px;
}

.slider-item {
  height: 300px;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter-from,
.slide-fade-leave-active {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.35s ease;
}

.slider-indicator-wrap {
  margin-top: 30px;
}

.slider-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.slider-indicator-active {
  background-color: rgb(227, 226, 226);
}

.content-wrap {
  height: 100%;
  justify-content: center;
}
